body {
  margin: 0;
  padding: 0;
  background-image: url("assets/studio.webp");
  background-size: cover;        /* Deckt die ganze Fläche ab */
  background-position: center;   /* Zentriert das Bild */
  background-repeat: no-repeat;  /* Kein Wiederholen */
  height: 100vh;
  font-family: sans-serif;
}
  
.container {
  position: fixed;
  bottom: 25px;
  left: 25px;
  right: 25px;

  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}
  
  h1 {
    margin-bottom: 0.5rem;
  }
  p {
    color: white;
    margin-top: -0.8rem; /* kleiner Abstand nach oben */
    margin-bottom: 1rem;
  }
  #themaInput {
    width: 100%;
    max-width: 500px;
    padding: 0.8rem;
    font-size: 1rem;
    margin: 1rem auto;
    border: 1px solid #cbd5e1;
    border-radius: 15px;
    display: block;
    box-sizing: border-box;
  }
  
  #levelSelect {
    margin-top: 0.5rem;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    max-width: 250px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }


  .grid-themen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    margin: 1rem 0 2rem;
  }
  
  .thema-card {
    background-color:rgba(174, 165, 253, 0.1);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .thema-card:hover {
    background-color:rgba(109, 8, 104, 0.5);
    transform: scale(1.05);
  }
  .thema-card.active {
    background-color: rgba(109, 8, 104, 0.7);
    transform: scale(1.05);
  }
  
  #startBtn {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    background-color: #247a6c;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  
  #startBtn:disabled {
    background-color: rgba(10, 63, 41, 0.2);
    cursor: not-allowed;
  }
  .antworten {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
  }
  
  .antwort-btn {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .antwort-btn:hover {
    background-color: #2563eb;
  }
  